<div class="large-12 small-12 columns">
<img class='small-6 large-3 medium-4 th poster right' src='/{{book_slug}}-cover.jpg'>
<h2>{{caption}}</h2>
<h3>நூல்கள்</h3>
<ul class="book">
{{#each volumes}}
 <li><a href='/{{this.book_slug}}/{{this.vol_slug}}'>{{this.vol_name}}<br></a></li>
{{/each}}
</ul>
<h3>பகுதிகள்/அத்தியாயம்</h3>
<ul class="book">
{{#each data}}
 <li id='{{this.id}}'><a href='/{{this.book_slug}}/{{this.vol_slug}}/{{this.chapter_no}}'>
 {{this.vol_name}}
   {{#if this.part_name}}
     - {{this.part_name}}
   {{/if}}
   {{#if this.chapter_name}}
     - {{this.chapter_name}}
   {{/if}}
  </a></li>
{{/each}}
</ul>
</div>