doctype html
html(lang="en")
  head
    title #{data.vol_name} - #(data.part_name} - #{data.chapter_no}
  body
    h1 #{data.vol_name} - #(data.part_name} - #{data.chapter_no}
	#container.col
	#{data.content}