<div class="large-12 columns">
<img class='small-6 large-3 medium-4 th poster right' src='/{{volume}}-cover.jpg'>
<h3><a href="/{{book.slug}}"><img src='/left-arrow.png'> {{book.name}}</a></h3>
<ul class="disk book" >
{{#each data}}
 <li id='{{this.id}}'>
  <a href='/{{this.book_slug}}/{{this.vol_slug}}/{{this.chapter_no}}'>
   {{#if this.part_name}}
    {{this.part_name}} - 
   {{/if}}
   {{#if this.chapter_name}}
    {{this.chapter_name}}
   {{/if}}
  </a>
 </li>
{{/each}}
</ul>
</div>